* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #202124;
    color: #e8eaed;
    padding: 14px;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav, section {
    display: flex;
    align-items: center;
    gap: 14px;
}

/* 51:27 https://www.youtube.com/watch?v=70T2GMDKl6M&ab_channel=Smoljames */