* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #202124;
    color: #e8eaed;
    padding: 14px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav, 
section {
    display: flex;
    align-items: center;
    gap: 14px;
}

.whiteLink {
    color: #FFFFFF;
}

.greyLink {
    color: #bdc1c6;
}

a {
    text-decoration: unset;
}

a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
}

