/* html {
    height: 100%
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #202124;
    color: #e8eaed;
    /* padding: 14px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* gap: 14px; */
    font-family: arial, sans-serif;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

nav, 
section {
    display: flex;
    align-items: center;
    gap: 14px;
}

.whiteLink {
    color: #FFFFFF;
}

.greyLink {
    color: #bdc1c6;
}

a {
    text-decoration: unset;
    font-size: 0.9em;
}

a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 14px;
}

.headerText {
    font-size: 4em;
}

.searchBar {
    display: flex;
    width: 100%;
    max-width: 584px;
    margin: 0 auto;
    gap: 14px;
    border: 1px solid #5f6368;
    padding: 14px;
    border-radius: 24px;
}

.searchBar:hover {
    border-color: transparent;
    background: #303134;
    box-shadow: 0 1px 6px 0 #171717;
}

input {
    background: transparent;
    outline: none;
    border: unset;
    color: #FFFFFF;
    flex: 1;
    font-size: 0.9em;
}

.searchButtonsContainer button {
    padding: 14px;
    border: 1px solid #303134;
    border-radius: 4px;
    background: #303134;
    color: #e8eaed;
    font-size: 14px;
    margin: 8px 4px;
    padding: 0 16px;
    height: 36px;
    cursor: pointer;
}

.searchButtonsContainer button:hover {
    box-shadow: 0 1px 3px #1717173d;
    border: 1px solid #5f6368;
}

.languageSelection {
    font-size: 0.9em;
}

.languageSelection span {
    color: #569ef0;
}

footer {
    /* margin-top: auto; */
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    background: #171717;
}

    

footer > section:first-child {
    padding: 15px 30px;
}

footer > section:last-child {
    display: flex;
    align-items: center;
    
    padding: 15px 20px;
    border-top: 1px solid #3c4043
}

footer a {
    display: flex;
    justify-content: space-evenly;
    font-size: 1em;
}
